lbc==1.0.9
beautifulsoup4==4.12.2
requests==2.31.0
uvicorn[standard]==0.24.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
aiohttp==3.10.10
fastapi==0.115.6
numpy==2.2.0
opencv_python==4.10.0.84
passlib==1.7.4
pydantic==2.10.3
python-dotenv==1.0.1
SQLAlchemy==2.0.36
ultralytics==8.3.16
uvicorn==0.31.0
python-multipart
PyJWT
python-jose
apscheduler
pytest-asyncio
redis
passlib[bcrypt]
jose

